.shape-demo {
    margin: 0 auto;
    transition: all 2s linear;
}

.shape-demo:hover {
    animation: rotate 2s linear 0.8s infinite;
}

.shape-demo.animate {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotateX(75deg) rotateZ(405deg);
    }
}

.shape-demo1:hover {
    animation: rotate1 2s linear 0.8s infinite;
}

.shape-demo1.animate {
    animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
    100% {
        transform: rotateY(450deg);
    }
}

.shape-demo2:hover {
    animation: rotate2 2s linear 0.8s infinite;
}

.shape-demo2.animate {
    animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
    100% {
        transform: rotateY(495deg);
    }
}

.shape-cube-demo {
    width: 50px;
    height: 50px;
    top: 36px;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateX(75deg) rotateZ(45deg);
}

.shape-cube-demo .tcface {
    width: 100%;
    height: 100%;
    position: absolute;
}

.shape-cube-demo .top {
    background: #37543d;
    transform: rotateX(0deg) translateZ(50px);
}

.shape-cube-demo .bottom {
    background: #0985f1;
}

.shape-cube-demo .right {
    background: #f73ed3;
    transform: rotateY(90deg) rotatez(-90deg) translateZ(50px) translateX(0px);
    transform-origin: 0 100%;
    width: 50px;
    height: 50px;
}

.shape-cube-demo .left {
    background: #20d11f;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-50px);
    transform-origin: 0 0;
    width: 50px;
    height: 50px;
}

.shape-cube-demo .back {
    background: #bcc8ff;
    transform: rotateX(90deg) rotatez(180deg) translateY(-25px) translateZ(25px);
    height: 50px;
}

.shape-cube-demo .front {
    background: #698825;
    transform: rotateX(-90deg) translateY(-25px) translateZ(25px);
    height: 50px;
}

.shape-polyhedron-demo {
    transform: rotateX(75deg) rotateZ(45deg);
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    position: relative;
    top: 15px;
    left: 10px;
}

.shape-polyhedron-demo .tcface {
    transform-origin: 0 0;
    width: 36.32712640026804px;
    height: 50px;
    position: absolute;
}

.shape-polyhedron-demo .f0 {
    background-color: #e175b0;
    transform: rotateY(36deg) translate3D(-50%, 0, 25px);
}

.shape-polyhedron-demo .f1 {
    background-color: #44b044;
    transform: rotateY(108deg) translate3D(-50%, 0, 25px);
}

.shape-polyhedron-demo .f2 {
    background-color: #88cc56;
    transform: rotateY(180deg) translate3D(-50%, 0, 25px);
}

.shape-polyhedron-demo .f3 {
    background-color: #0373d5;
    transform: rotateY(252deg) translate3D(-50%, 0, 25px);
}

.shape-polyhedron-demo .f4 {
    background-color: #d2ea61;
    transform: rotateY(324deg) translate3D(-50%, 0, 25px);
}

.shape-pyramid-demo {
    width: 60px;
    height: 60px;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(90deg);
}

.shape-pyramid-demo .tcface {
    transform-origin: 0 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
}

.shape-pyramid-demo .s0 {
    border-bottom: 60px solid #ef35ab;
    transform: rotateY(45deg) rotateX(30deg) translate3D(-50%, 0, 0);
}

.shape-pyramid-demo .s1 {
    border-bottom: 60px solid #5ef53e;
    transform: rotateY(135deg) rotateX(30deg) translate3D(-50%, 0, 0);
}

.shape-pyramid-demo .s2 {
    border-bottom: 60px solid #8c8368;
    transform: rotateY(225deg) rotateX(30deg) translate3D(-50%, 0, 0);
}

.shape-pyramid-demo .s3 {
    border-bottom: 60px solid #76333f;
    transform: rotateY(315deg) rotateX(30deg) translate3D(-50%, 0, 0);
}

.shape-5star-demo {
    width: 155px;
    height: 50px;
    transform-style: preserve-3d;
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}

.shape-5star-demo .tcface {
    transform-origin: 0 0;
    width: 0;
    height: 0;
    border-left: 77.5px solid transparent;
    border-right: 77.5px solid transparent;
    position: absolute;
}

.shape-5star-demo .s0 {
    border-bottom: 50px solid #604e19;
    transform: rotateY(36deg) rotateX(29.999999999999996deg) translate3D(-50%, 0, 0);
}

.shape-5star-demo .s1 {
    border-bottom: 50px solid #ad718e;
    transform: rotateY(108deg) rotateX(29.999999999999996deg) translate3D(-50%, 0, 0);
}

.shape-5star-demo .s2 {
    border-bottom: 50px solid #a5cbb7;
    transform: rotateY(180deg) rotateX(29.999999999999996deg) translate3D(-50%, 0, 0);
}

.shape-5star-demo .s3 {
    border-bottom: 50px solid #a6ed0c;
    transform: rotateY(252deg) rotateX(29.999999999999996deg) translate3D(-50%, 0, 0);
}

.shape-5star-demo .s4 {
    border-bottom: 50px solid #ffbe26;
    transform: rotateY(324deg) rotateX(29.999999999999996deg) translate3D(-50%, 0, 0);
}

.shape-prism-demo {
    width: 60px;
    height: 50px;
    transform-style: preserve-3d;
    transform: rotateY(135deg);
}

.shape-prism-demo .tcface {
    width: 100%;
    height: 100%;
    position: absolute;
}

.shape-prism-demo .sfront {
    height: 65px;
    transform-origin: 50% 0;
    background: #de33d4;
    transform: rotateX(-22.619864948040426deg);
}

.shape-prism-demo .sback {
    height: 65px;
    transform-origin: 50% 0;
    background: #aff22c;
    transform: rotateX(22.619864948040426deg);
}

.shape-prism-demo .sleft {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #15551f;
    transform: rotateY(-90deg);
    left: -25px;
}

.shape-prism-demo .sright {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #d20ddb;
    transform: rotateY(-90deg);
    left: 35px;
}

.shape-prism-demo .sbottom {
    transform: rotateX(90deg);
    background: #744dbf;
    top: 35px;
}